mat-toolbar {
    background: #004a9f;
    color: white;
  }
  
  mat-sidenav {
    margin: 16px;
    width: 220px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    // visibility: inherit !important;
    transform: none !important;
    text-align: center;
  }
  
  .content {
    margin: 16px;
    // margin-left: 30px;
    height: calc(100vh - 98px);
    border-radius: 10px;
  
    display: flex;
    // justify-content: center;
    // align-items: center;
  
    font-size: 2rem;
    color: lightgray;
  }
  mat-sidenav-container {
    height: calc(100vh - 65px);
    font-size: large;
  }
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
  
    mat-icon {
        margin-right: 8px;
    }
  }
  
  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name {
    margin-top: 8px;
    font-weight: normal;
  }
  
  .designation {
    margin-top: 2px;
    font-size: 1.5rem;
    color: lightgrey;
  }
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }