<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  Manager Product
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="../assets/avt.jpg" />

    <h4 class="name">Búcccc</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span (click)="dash()">Dashboard</span>
      <!-- List product -->
    </button>
    <button mat-button class="menu-button">
      <mat-icon>bar_chart</mat-icon>
      <span (click)="proSta()">Product Statistics</span>
      <!-- use table -->
    </button>
    <button mat-button class="menu-button">
      <mat-icon>attach_money</mat-icon>
      <span (click)="revSta()">Revenue Statistics</span>
      <!-- use table -->
    </button>
    <!-- <button mat-button class="menu-button">
        <mat-icon>store</mat-icon>
        <span (click)="managerPro()">Manager Product</span>
      </button> -->
    <button mat-button class="menu-button">
      <mat-icon>storage</mat-icon>
      <span (click)="manaUser()">Manager User</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span (click)="profile()">Profile</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span (click)="about()">About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">

      <div *ngIf="dashboard">
        <app-product></app-product>
      </div>
      <div *ngIf="proStatic">
        <app-statistic></app-statistic>
      </div>
      <div *ngIf="revStatic">
        <app-statistic-revenue></app-statistic-revenue>
      </div>
      <div *ngIf="managerUser">
        <app-user></app-user>
      </div>
      <div *ngIf="profileUser">
        <app-product></app-product>
      </div>
      <div *ngIf="aboutUser">
        <app-product></app-product>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>